#formLogin {
  display: none;
}

#formOperator {
  display: none;
}

#formPhone {
  display: none;
}

#formNumberOperator {
  display: none;
}

#formUsersNumbers {
  display: none;
}

#formCall {
  display: none;
}